@model IEnumerable<KutseApp.Models.Guest>

@{
    ViewBag.Title = "Külalised";
}

<h2>Külalised</h2>

<p>
    @Html.ActionLink("Loo uus", "Ankeet")
    <br />
    @Html.ActionLink("Tulevad", "GuestsJah")
    @Html.ActionLink("Loobusid", "GuestsEi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillAttend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillAttend)
        </td>
        <td>
            @Html.ActionLink("Uuenda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustutada", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>